.Tilt{
  
   background:linear-gradient(to right bottom, #eb2020, #fa0047, #ff006e, #fd0097, #ed00c0, #da00d2, #be00e6, #961dfa, #8126f6, #6b2cf1, #5230eb, #3333e5) ; 
}
img{
    padding-top: 10px;
    padding-left: 10px;
}